<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fredy.finalfinalfinalx3sis2">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <meta-data android:name="DATABASE" android:value="GestorCliente.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="false" />
      <!--  -<meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.example.fredy.finalfinalfinalx3sis2" />
-->
        <activity android:name=".Vistas.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vistas.Perfil" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Vistas.AdministrarPedido"/>
        <activity android:name=".Vistas.Catalogo"/>
        <activity android:name=".Vistas.HacerPedido"/>
        <activity android:name=".Vistas.Cuotas" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Vistas.ConfirmarPedido"/>
        <activity android:name=".Vistas.HacerPedidoCatalogo" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Vistas.HistorialPedido" android:windowSoftInputMode="stateHidden"/>

    </application>

</manifest>